@import "Mixin";

//首页容器尺寸
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}

/*公共头部-logo*/
.header-logo {
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: #FF6600;
    a {
        display: inline-block;
        width: 110px;
        height: 55px;
        &:before {
            @include bgImg(55px, 55px, "/imgs/logo/mi-logo.png", 55px);
            content: '';
            transition: margin .2s;
        }
        &:after {
            @include bgImg(55px, 55px, "/imgs/logo/mi-home.png", 55px);
            content: '';
        }
        &:hover:before {
            margin-left: -55px;
            transition: margin .2s;
        }
    }
}
