@import "Mixin";

.Modal {
    //模态框
    @include position(fixed);
    z-index: 10;
    transition: all .2s;
    .mask {
        @include position(fixed);
        background-color: #000000;
        opacity: 0.5;
    }
    //定义进入过渡生效时的状态
    &.fade-enter-active {
        top: 0;
    }
    //定义离开过渡生效时的状态
    &.fade-leave-active {
        top: -100%;
    }
    //定义进入过渡的开始状态
    &.fade-enter {
        top: -100%
    }
    .modal-dialog {
        @include position(absolute, 40%, 50%, 660px, auto);
        background-color: #ffffff;
        transform: translate(-50%, -50%);
        //头部
        .modal-header {
            height: 60px;
            background-color: #F5F5F5;
            padding: 0 25px;
            line-height: 60px;
            font-size: 16px;
            .icon-close {
                @include positionImg(absolute, 23px, 25px, 14px, 14px, '/imgs/icon/icon-close.png');
                transition: transform .3s;
                &:hover {
                    transform: scale(1.5);
                }
            }
        }
        //内容
        .modal-body {
            padding: 42px 40px 54px;
            font-size: 14px;
        }
        //底部
        .modal-footer {
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #F5F5F5;
        }
    }
}
